<%- include('.././header.ejs') %>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card bg-black text-white">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">Restaurant Registration</h1>
          <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger">
              <%= error %>
            </div>
          <% } %>
          <form action="/adminux/restaurant-registration" method="post" id="registration-restaurant-form" enctype="multipart/form-data">
            <div class="form-group">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
            </div>
            <div class="form-group">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="text" placeholder="Enter name" name="name" required>
              <input type="hidden" class="form-control hidden-text" id="lowerText" name="lowername" value="">
            </div>
            <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
            </div>
            <div class="form-group">
              <label for="reEnterPassword" class="form-label">Re-enter Password</label>
              <input type="password" class="form-control" id="reEnterPassword" placeholder="Re-enter password" name="reEnterPassword" required>
            </div>
            <div class="form-group">
              <label for="phone" class="form-label">Phone</label>
              <input type="tel" class="form-control" id="phone" placeholder="Enter phone" name="phone" required>
            </div>
            <div class="form-group">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Enter address" name="address" required>
            </div>
            <!-- Display existing image -->
            <div class="form-group" id="existingImageContainer">
              <label>Existing Image</label>
              <img src="" alt="Existing Image" id="existingImage" class="w-25">
            </div>
            <!-- Option to upload a new image -->
            <div class="form-group">
              <label for="image" class="form-label">Upload new banner image</label>
              <input type="file" class="form-control" id="image" name="image" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
          </form>
          <a href="/adminux" class="btn btn-warning w-100 mt-3">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/showExistingImage.js"></script>            
<script src="/js/textInputLowerCase.js"></script>            
<%- include('.././footer.ejs') %>
