<%- include('.././header.ejs') %>
<%- include('./layout/navbar.ejs') %>

<h1>Add Product</h1>

<form action="/restaurant/add-product" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" required>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" name="price" required>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" name="category" required>
  </div>
  <div class="form-group">
    <label for="image" class="form-label">Banner</label>
    <input type="file" class="form-control" id="image" name="image" required>
  </div>
  <!-- Display existing image -->
  <div class="form-group" id="existingImageContainer">
    <label>Existing Image</label>
    <img src="" alt="Existing Image" id="existingImage" class="w-25">
  </div>  
  <!-- Set the restaurant -->
  <input type="hidden" class="form-control" id="restaurant" name="restaurant" value="<%= restaurant %>" required>
  <button type="submit" class="btn btn-primary">Add Product</button>
</form>

<script src="/js/showExistingImage.js"></script>
<%- include('.././footer.ejs') %>
