<%- include('.././header.ejs') %>
<!-- I include the navbar from customer layout because they have the same navbar -->
<%- include('./layout/navbar.ejs') %>
    <h2>Restaurants dashboard</h2>
    <!-- <script src="/js/customer/home.js"></script>             -->
<%- include('.././footer.ejs') %>
