<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrapcss/bootstrap.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home/restaurant.css">
    <% if (pageTitle === 'Products') { %>
      <link rel="stylesheet" href="/styles/restaurant/products.css">
      <link rel="stylesheet" href="/styles/restaurant/sold-out.css">
    <% } else if (pageTitle === 'Restaurant Login' || pageTitle === 'Restaurant Register') { %>
      <link rel="stylesheet" href="/styles/restaurant/login.css">
    <% } else if (pageTitle === 'Update Restaurant' || pageTitle === 'Vouchers') { %>
      <link rel="stylesheet" href="/styles/restaurant/form.css">
    <% } else if (pageTitle === 'Add Category' || pageTitle === 'Number Pax Restaurant') { %>
      <link rel="stylesheet" href="/styles/restaurant/add-category.css">
    <% } else if (pageTitle === 'Vouchers') { %>
      <link rel="stylesheet" href="/styles/restaurant/vouchers/vouchers.css">
    <% } else if (pageTitle === 'Transactions') { %>
      <link rel="stylesheet" href="/styles/transaction/transaction.css">
    <% } else if (pageTitle === 'Update Product') { %>
      <link rel="stylesheet" href="/styles/restaurant/update-product.css">
    <% } else if (pageTitle === 'Dashboard' || pageTitle === 'History') { %>
      <link rel="stylesheet" href="/styles/restaurant/dashboard.css">
    <% } %>
    <title><%= pageTitle %></title>
</head>
<body>
