<!-- <footer>My Footer :)</footer> -->
<% if (pageTitle === 'register') { %>
    <script src="/js/customer/register.js"></script>            
<% } else if (pageTitle === 'login') { %>
    <script src="/js/customer/login.js"></script>             
<% } else if (pageTitle === 'home') { %>
    <script src="/js/customer/home.js"></script>            
<% } %>
 
<script src="/bootstrapjs/bootstrap.js"></script>
</body>
</html>