main {
    width: 50% !important;
}

article {
    background-color: white;
    padding: 20px;
}

.notes-div {
    margin-bottom: 4px;
}

.back-button {
    background-color: #e24b46;
    color: white;
}

.back-button:hover {
    background-color: #e24b46;
    color: white;
} 

@media (max-width: 575px) {
    main {
        width: 90% !important;
    }   
}

@media (max-width: 450px) {
    main {
        width: 86% !important;
    }  
    .notes-div {
        margin-bottom: 1rem;
    }
    .back-button {
        margin-top: .5rem;
        width: 100% !important;
    }
    article {
        padding: 10px;
    }
}