main {
    display: flex;
    justify-content: space-between;
}

section {
    width: 100%;
}

article {
    background-color: white;
    padding: 20px;
    width: 600px;
}

.floor-plan-section {
    width: 600px;
}

.floor-plan-img {
    width: 500px;
}

.reserve-icon {
    width: 40px;
}

.notes-div {
    margin-bottom: 4px;
}

.back-button {
    background-color: #e24b46;
    color: white;
}

.back-button:hover {
    background-color: #e24b46;
    color: white;
}

.numberOfSits {
    font-weight: 500;
}

#other-option-container {
    display: none;
}

@media (max-width: 575px) {
    main {
        width: 90% !important;
    }   
}

@media (max-width: 450px) {
    main {
        width: 86% !important;
    }  
    .notes-div {
        margin-bottom: 1rem;
    }
    .back-button {
        margin-top: .5rem;
        width: 100% !important;
    }
    article {
        padding: 10px;
    }
}