<%- include('./layout/header.ejs') %>
<%- include('./../navbar.ejs') %>
<main>
    <div class="row">
        <% 
            // Helper function to convert 24-hour time to 12-hour time with AM/PM
            const convertTo12HourFormat = (time) => {
                const [hour, minute] = time.split(':').map(Number);
                const ampm = hour >= 12 ? 'pm' : 'am';
                const adjustedHour = hour % 12 || 12; // Convert 0 to 12 for 12AM
                return `${adjustedHour}:${minute.toString().padStart(2, '0')}${ampm}`;
            };
        %>

        <% 
            function isRestaurantOpen(dayInfo, currentTime) {
                if (!dayInfo || !dayInfo.isOpen) return false;
                const [currentHours, currentMinutes] = currentTime.split(':').map(Number);
                const [openHours, openMinutes] = dayInfo.open.split(':').map(Number);
                const [closeHours, closeMinutes] = dayInfo.close.split(':').map(Number);

                const currentTimeInMinutes = currentHours * 60 + currentMinutes;
                const openTimeInMinutes = openHours * 60 + openMinutes;
                const closeTimeInMinutes = closeHours * 60 + closeMinutes;

                return currentTimeInMinutes >= openTimeInMinutes && currentTimeInMinutes <= closeTimeInMinutes;
            }
        %>

<% restaurants.forEach(restaurant => { %>
    <% if (restaurant.statusIsActive) { %>
      <% let hideSquare = customerQuota.some(quota => quota.restaurant && quota.restaurant._id.toString() === restaurant._id.toString() && quota.cancelledLimit === 0); %>
        <div class="square<%= hideSquare ? ' d-none' : '' %>">
          
        </div>
        <% } %>
    <% }) %>  
    </div>
</main>




<script src="/js/customer/home.js"></script>            
<%- include('.././footer.ejs') %>
