main {
    width: 50% !important;
}

article {
    background-color: white;
    padding: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    main {
        width: 81% !important;
    }   
}

@media (max-width: 450px) {
    main {
        width: 86% !important;
    }  
    article {
        padding: 10px;
    }
}