header {
    display: flex;
    flex-direction: row;
}

header ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    font-size: 15px;
}

.category-name {
    margin: 1rem 0 2.5rem 0;
}

.square {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 10px 15px 14.5px;
    padding: 0;
}

.product-image {
    width: 100%;
} 

.product-name {
    margin-top: 12px;
}

.product-name, .product-price {
    margin-bottom: 0;
}

.product-name, .product-price {
    font-size: 18px;
}

.product-price {
    font-size: 16px;
}

.product-description {
    font-size: 14px;
    margin-bottom: 10px;
    color: gray;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-icon {
    width: 30px;
}

.single-product {
    background-color: #edf6f9;
    text-align: start;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-bottom: 25px;
    border-bottom: 1px solid #edf6f9;
}

button[type="submit"]:hover {
    border-bottom: 1px solid #b7ecff;
}

@media (max-width: 800px) {
    .row-cols-md-3 > * {
        width: 250px !important;
    }
}

@media (max-width: 700px) {
    .row-cols-md-3 > * {
        width: 200px !important;
    }
}

@media (max-width: 575px) {  
    .row-cols-md-3 > * {
        width: 150px !important;
    }
    .category-name {
        margin: 1rem 0 2.5rem 0;
    }  
    .add-icon {
        width: 20px;
    }
    .product-name {
        font-size: 15px;
    }
    .product-description {
        font-size: 11px;
    }
    .product-price {
        font-size: 13px;
    }
    .single-product { 
        padding-bottom: 15px;
    }    
}

@media (max-width: 500px) {
    .row-cols-md-3 > * {
        width: 46% !important;
    }
    .square {
        margin: 0 5px 10px 9.5px;
    }
}

@media (max-width: 410px) {
    .row-cols-md-3 > * {
        width: 44% !important;
    }
}