* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #EDF6F9 ;
}

#user-icon {
    width: 50px;
    margin-right: 1rem;
    font-weight: bold;
}

#logo {
    width: 150px;
}

.bg-alice-blue {
    background-color: #EDF6F9 !important;
}

nav {
    margin-bottom: 2rem;
}

nav .container-fluid {
    --bs-gutter-x: 6.5rem !important;
}

.title, .nav-link {
    color: #006D77 !important;
    font-weight: 400;
}

.primary-background-color {
    background-color: #006D77 !important;
}

main {
    margin: 0 3.5rem;
}

a {
    color: #006D77;
}

@media (max-width: 575px) {
    nav .container-fluid {
        --bs-gutter-x: 2.5rem !important;
    }    
    
    .right, main {
        margin: 0 1.5rem;        
    }

    #main-user {
        margin: 0 1rem;
    }
}

@media (max-width: 450px) {
    button[type="submit"] {
        width: 100%;
    }
    .form-control {
        height: 50px;
    }
}

@media (max-width: 380px) {
    nav {
        margin-bottom: 1rem;
    } 
}
