.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
.information {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
}

.info-item {
    margin-bottom: 15px;
}

.info-item span {
    font-weight: bold;
    color: #333;
    }

.info-item p {
    margin: 0;
    color: #666;
}
