.form-control {
    width: 25rem;
}

@media (max-width: 875px) {
    .form-control {
        width: 20rem;
    }
}

@media (max-width: 575px) {
    .form-control {
        width: 100%;
    }
}

@media (max-width: 450px) {
    tr {
        display: flex;
        flex-direction: column;
    }
    #actions {
        display: none;
    }
}