main {
    width: 500px !important;
    margin: 2rem auto 0 auto;
}

@media (max-width: 600px) {    
    main {
        margin: 4rem auto 0 auto;
    }
    .form-control {
        width: 100%;
    }
}

@media (max-width: 575px) {
    button[type="submit"] {
        padding-bottom: 5px;
    }
}

@media (max-width: 530px) {
    main {
        margin: 4rem 1rem 0 1rem;
        width: auto !important;
    }
}
