<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrapcss/bootstrap.css">
    <link rel="stylesheet" href="/styles/main.css">
    <% if (pageTitle === 'Register' || pageTitle === 'Login') { %>
      <link rel="stylesheet" href="/styles/customer/customer.css">
    <% } %>
    <% if (pageTitle === 'Profile') { %>
      <link rel="stylesheet" href="/styles/customer/profile.css">
    <% } %>
    <% if (pageTitle === 'Checkout') { %>
      <link rel="stylesheet" href="/styles/checkout/checkout.css">
    <% } %>
    <title><%= pageTitle %></title>
</head>
<body>